In [25]:
import pandas as pd
import datetime as dt

In [26]:
df = pd.read_table('./Resources/flight_edges.tsv', names=['Origin Airport', 'Destination Airport', 'Origin City', 'Destination City', 
                                                          'Passangers', 'Seats', 'Flights', 'Distance', 'Fly Date', 'Origin Population', 'Destination Population'])
df.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passangers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,200810,122049,86219
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034

In [27]:
df.shape[0]

3606803

In [28]:
df.dropna(inplace=True)

In [29]:
df.shape[0]

3606803

In [30]:
len(df['Origin Airport'].unique())

683

In [31]:
#DATE IS IN YYYYMM FORMAT. NEED TO SPLIT INTO COLUMNS

C:\Users\Zach\AppData\Local\Temp\ipykernel_11528\2772023144.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Fly Date'] = pd.to_datetime(df['Fly Date'].astype(str))

DateParseError: month must be in 1..12: 199011, at position 1

In [24]:
df['Year'] = df['Fly Date'].dt.year
df['Month'] = df['Fly Date'].dt.month
df.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passangers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population,Year,Month,Day
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,1970-01-01 00:00:00.000200810,122049,86219,1970,1,1
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,1970-01-01 00:00:00.000199011,284093,76034,1970,1,1
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,1970-01-01 00:00:00.000199012,284093,76034,1970,1,1
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,1970-01-01 00:00:00.000199010,284093,76034,1970,1,1
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,1970-01-01 00:00:00.000199002,147300,76034,1970,1,1