In [24]:
import pandas as pd
import datetime as dt

In [25]:
df = pd.read_table('./Resources/flight_edges.tsv', names=['Origin Airport', 'Destination Airport', 'Origin City', 'Destination City', 
                                                          'Passangers', 'Seats', 'Flights', 'Distance', 'Fly Date', 'Origin Population', 'Destination Population'])
df.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passangers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,200810,122049,86219
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034

In [26]:
df.shape[0]

3606803

In [27]:
df.dropna(inplace=True)

In [28]:
df.shape[0]

3606803

In [29]:
len(df['Origin Airport'].unique())

683

In [30]:
#DATE IS IN YYYYMM FORMAT. NEED TO SPLIT INTO COLUMNS
def splitYearMonth (date:int):
    date = str(date)
    date = list(date)
    yearList = date[:4]
    year = ''
    year = year.join(yearList)
    year = int(year)
    monthList = date[-2:]
    month = ''
    month = month.join(monthList)
    month = int(month)
    return year, month

In [31]:
df[['Year', 'Month']] = df['Fly Date'].apply(lambda x: pd.Series(splitYearMonth(x)))
df.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passangers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population,Year,Month
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,200810,122049,86219,2008,10
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034,1990,11
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034,1990,12
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034,1990,10
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034,1990,2

In [32]:
df.to_csv('../08-EV-charging/Resources/8minuteMayhem', index=False)

In [33]:
df2 = pd.read_csv('./Resources/8minuteMayhem')

In [34]:
df2['Percent Full'] = round((df2['Passangers'] / df2['Seats']), 2)
df2.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passangers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population,Year,Month,Percent Full
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,200810,122049,86219,2008,10,0.70
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034,1990,11,0.10
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034,1990,12,0.26
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034,1990,10,0.15
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034,1990,2,0.00

In [35]:
df2 = df2[['Origin Airport', 'Origin City', 'Origin Population', 'Destination Airport',  'Destination City', 'Destination Population','Distance', 'Flights', 'Passangers', 
		   'Seats', 'Percent Full', 'Fly Date', 'Month', 'Year']]
df2.head()

,Origin Airport,Origin City,Origin Population,Destination Airport,Destination City,Destination Population,Distance,Flights,Passangers,Seats,Percent Full,Fly Date,Month,Year
0,MHK,"Manhattan, KS",122049,AMW,"Ames, IA",86219,254.0,1,21,30,0.70,200810,10,2008
1,EUG,"Eugene, OR",284093,RDM,"Bend, OR",76034,103.0,22,41,396,0.10,199011,11,1990
2,EUG,"Eugene, OR",284093,RDM,"Bend, OR",76034,103.0,19,88,342,0.26,199012,12,1990
3,EUG,"Eugene, OR",284093,RDM,"Bend, OR",76034,103.0,4,11,72,0.15,199010,10,1990
4,MFR,"Medford, OR",147300,RDM,"Bend, OR",76034,156.0,1,0,18,0.00,199002,2,1990

In [36]:
df2.to_csv('./Resources/bigCleanData.csv')