In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_table('flight_edges.tsv', names=['Origin Airport', 'Destination Airport', 'Origin City', 'Destination City', 
                                                          'Passengers', 'Seats', 'Flights', 'Distance', 'Fly Date', 'Origin Population', 'Destination Population'])
df.head()

,Origin Airport,Destination Airport,Origin City,Destination City,Passengers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254.0,200810,122049,86219
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103.0,199011,284093,76034
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103.0,199012,284093,76034
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103.0,199010,284093,76034
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156.0,199002,147300,76034

In [3]:
df["Route"] = df["Origin Airport"] + "_" + df["Destination Airport"]
passenger_count = df[["Route", "Passengers"]].groupby("Route").sum().sort_values("Passengers", ascending=False)

demand = passenger_count.merge(df[["Route", "Origin Airport", "Origin City", "Destination Airport", "Destination City"]], on="Route", how="inner").groupby("Route").first().sort_values("Passengers", ascending=False)
demand.head(10)

,Passengers,Origin Airport,Origin City,Destination Airport,Destination City
Route,,,,,
OGG_HNL,32364612,OGG,"Kahului, HI",HNL,"Honolulu, HI"
HNL_OGG,29744742,HNL,"Honolulu, HI",OGG,"Kahului, HI"
LAX_HNL,28964154,LAX,"Los Angeles, CA",HNL,"Honolulu, HI"
HNL_LAX,28632161,HNL,"Honolulu, HI",LAX,"Los Angeles, CA"
LAS_LAX,26333721,LAS,"Las Vegas, NV",LAX,"Los Angeles, CA"
LAX_LAS,26177809,LAX,"Los Angeles, CA",LAS,"Las Vegas, NV"
LAX_SFO,25661782,LAX,"Los Angeles, CA",SFO,"San Francisco, CA"
SFO_LAX,25458207,SFO,"San Francisco, CA",LAX,"Los Angeles, CA"
ATL_MCO,23483751,ATL,"Atlanta, GA",MCO,"Orlando, FL"
ORD_LAX,22979359,ORD,"Chicago, IL",LAX,"Los Angeles, CA"